
<section class="home-sec">
    <div class="container">
      <div class="row">
        <div class="col-lg-6">
            <img src="assets/gallery/homeimg.jpg" class="img-fluid" alt="banner1">
        </div>
        <div class="col-lg-6">
          <p>The Cake Shop is not a retail bakery. We are by <strong class="font-style"> appointment only</strong>. This way we can give each client and order the 
            care and attention they deserve. We love working with our clients to make their dessert dreams come true!
           </p>

           <p>
            We have lots and lots of <strong class="font-style"> different types of cakes available</strong>. You can buy cakes according to your 
preferences such as occasion, type, flavours, and your city. Our designer cakes have always been the 
talk of the town, and our photo cakes have never failed to impress people. If you are out of the country,
 you can easily send cake to India with same day delivery.

           </p>
           <p><strong class="font-style">We are not just a bakery, we are not just bakers. In fact, we are just like you</strong>, a bunch of food lovers
            fascinated with sweet indulgence, who dreamt of creating an appetizing fairy land of divine delicacies
            that relishes the utmost desires.</p>
           <a href="create-employee">
            <button class="btn btn-primary">Enquiry Now</button>
            </a>
        </div>
      </div>
    </div>
</section>
<!--------------------------------------------------------------------------->
<section class="product-offer mt-5 mb-5">
 <div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <h2 class="text-center text-success font-style1"> Our Cake Gallery</h2>
    </div>
  </div>
   <div class="row">
    <div class="col-lg-3">
      <div class="product-card">
        
        <div class="product-tumb">
          <img src="assets/gallery/cake1.jpeg" alt="">
        </div>
        <div class="product-details">
          <span class="product-catagory">CAKE</span>
          <h4><a href="">Chocolate Cake</a></h4>
          
          <div class="product-bottom-details mb-2">
            <div class="product-price">
              <i class="fa fa-rupee"></i> 500.00
              <small><i class="fa fa-rupee"></i> 750.00</small>
               
              </div>
            <div class="product-links">
              <a href=""><i class="fa fa-heart"></i></a>
              <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
          
          <a href="/create-employee">
            <button class="btn btn-dark" style="    width: 100%;"> Buy Now</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="product-card">
        <small class="badge">Offer</small>
        <div class="product-tumb">
          <img src="assets/gallery/cake2.jpeg" alt="">
        </div>
        <div class="product-details">
          <span class="product-catagory">CAKE</span>
          <h4><a href="">pinaapple cake</a></h4>
          
          <div class="product-bottom-details mb-2">
            <div class="product-price">
              <i class="fa fa-rupee"></i> 600.00
              <small><i class="fa fa-rupee"></i> 850.00</small>
               
              </div>
            <div class="product-links">
              <a href=""><i class="fa fa-heart"></i></a>
              <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
          
          <a href="/create-employee">
            <button class="btn btn-dark" style="    width: 100%;"> Buy Now</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="product-card">
        
        <div class="product-tumb">
          <img src="assets/gallery/cake9.jpg" alt="">
        </div>
        <div class="product-details">
          <span class="product-catagory">Pastry</span>
          <h4><a href="">Chocolate PASTRY</a></h4>
          
          <div class="product-bottom-details mb-2">
            <div class="product-price">
              <i class="fa fa-rupee"></i> 50.00
              <small><i class="fa fa-rupee"></i> 70.00</small>
               
              </div>
            <div class="product-links">
              <a href=""><i class="fa fa-heart"></i></a>
              <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
          
          <a href="/create-employee">
            <button class="btn btn-dark" style="    width: 100%;"> Buy Now</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="product-card">
        
        <div class="product-tumb">
          <img src="assets/gallery/cake8.jpeg" alt="">
        </div>
        <div class="product-details">
          <span class="product-catagory">PASTRY</span>
          <h4><a href="">pinaapple pASTRY</a></h4>
          
          <div class="product-bottom-details mb-2">
            <div class="product-price">
              <i class="fa fa-rupee"></i> 40.00
              <small><i class="fa fa-rupee"></i> 50.00</small>
               
              </div>
            <div class="product-links">
              <a href=""><i class="fa fa-heart"></i></a>
              <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
          
          <a href="/create-employee">
            <button class="btn btn-dark" style="    width: 100%;"> Buy Now</button>
          </a>
        </div>
      </div>
    </div>
   </div>

   <div class="row mt-5">
    <div class="col-lg-3">
      <div class="product-card">
        <small class="badge">Offer</small>
        <div class="product-tumb">
          <img src="assets/gallery/cake12.jpg" alt="">
        </div>
        <div class="product-details">
          <span class="product-catagory">CAKE</span>
          <h4><a href="">Berry Cake</a></h4>
          
          <div class="product-bottom-details mb-2">
            <div class="product-price">
              <i class="fa fa-rupee"></i> 750.00
              <small><i class="fa fa-rupee"></i> 950.00</small>
               
              </div>
            <div class="product-links">
              <a href=""><i class="fa fa-heart"></i></a>
              <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
          
          <a href="/create-employee">
            <button class="btn btn-dark" style="    width: 100%;"> Buy Now</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="product-card">
        
        <div class="product-tumb">
          <img src="assets/gallery/cake14.jpg" alt="">
        </div>
        <div class="product-details">
          <span class="product-catagory">CAKE</span>
          <h4><a href="">mango cake</a></h4>
          
          <div class="product-bottom-details mb-2">
            <div class="product-price">
              <i class="fa fa-rupee"></i> 600.00
              <small><i class="fa fa-rupee"></i> 750.00</small>
               
              </div>
            <div class="product-links">
              <a href=""><i class="fa fa-heart"></i></a>
              <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
          
          <a href="/create-employee">
            <button class="btn btn-dark" style="    width: 100%;"> Buy Now</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="product-card">
        <small class="badge">Offer</small>
        <div class="product-tumb">
          <img src="assets/gallery/cake13.jpg" alt="">
        </div>
        <div class="product-details">
          <span class="product-catagory">Pastry</span>
          <h4><a href="">mango PASTRY</a></h4>
          
          <div class="product-bottom-details mb-2">
            <div class="product-price">
              <i class="fa fa-rupee"></i> 50.00
              <small><i class="fa fa-rupee"></i> 70.00</small>
               
              </div>
            <div class="product-links">
              <a href=""><i class="fa fa-heart"></i></a>
              <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
          
          <a href="/create-employee">
            <button class="btn btn-dark" style="    width: 100%;"> Buy Now</button>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="product-card">
        
        <div class="product-tumb">
          <img src="assets/gallery/cake15.jpg" alt="">
        </div>
        <div class="product-details">
          <span class="product-catagory">cake</span>
          <h4><a href="">doll cake</a></h4>
          
          <div class="product-bottom-details mb-2">
            <div class="product-price">
              <i class="fa fa-rupee"></i> 840.00
              <small><i class="fa fa-rupee"></i> 950.00</small>
               
              </div>
            <div class="product-links">
              <a href=""><i class="fa fa-heart"></i></a>
              <a href=""><i class="fa fa-shopping-cart"></i></a>
            </div>
          </div>
          
          <a href="/create-employee">
            <button class="btn btn-dark" style="    width: 100%;"> Buy Now</button>
          </a>
        </div>
      </div>
    </div>
   </div>
 </div>
</section>

   <!-----------------------------------------------> 
   <section>
    <div class="container">
      <div class="row mb-5"> 
        <div class="col-lg-12">
          <h2 class="text-center text-success font-style1">TESTMONIALS</h2>
        </div>
      </div>
       <div class="row">
        <div class="col-lg-4">
          <div class="test">
            <p>"Very Nice Service!"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="test">
            <p>"The Test of Cake and Pestry is very delicious"</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="test">
            <p>"Very Very Satisfied Service" </p>
          </div>
        </div>
       </div>



      
    </div>

   </section>

   <!------------------------------------->
   