

<section>
    <div class="container">
        <div class="row">
           <div class="col-lg-2">
              <img src="assets/gallery/cake1.jpeg" alt="cake" class="img-fluid">
              <a href="/create-employee">
                <button class="btn btn-success mt-3 text-center"> Book Now </button>
              </a>
           </div>
           <div class="col-lg-2">
            <img src="assets/gallery/cake2.jpeg" alt="cake" class="img-fluid">
            <a href="/create-employee">
              <button class="btn btn-success mt-3 text-center"> Book Now </button>
            </a>
         </div>
         <div class="col-lg-2">
            <img src="assets/gallery/cake8.jpeg" alt="cake" class="img-fluid">
            <a href="/create-employee">
              <button class="btn btn-success mt-3 text-center"> Book Now </button>
            </a>
         </div>
         <div class="col-lg-2">
            <img src="assets/gallery/cake4.jpeg" alt="cake" class="img-fluid">
            <a href="/create-employee">
              <button class="btn btn-success mt-3 text-center"> Book Now </button>
            </a>
         </div>
         
       <div class="col-lg-2">
        <img src="assets/gallery/cake6.jpeg" alt="cake" class="img-fluid">
        <a href="/create-employee">
          <button class="btn btn-success mt-3 text-center"> Book Now </button>
        </a>
     </div>
        
   <div class="col-lg-2">
      <img src="assets/gallery/cake9.jpeg" alt="cake" class="img-fluid">
      <a href="/create-employee">
        <button class="btn btn-success mt-3 text-center"> Book Now </button>
      </a>
   </div>
   
        </div>

    </div>
</section>