
<!------------------------------------------------------------------->
<section>
    <h3 class="mb-3 pb-2 text-success fw-bold">FAQ</h3>
    <p class="mb-5 fw-bold">
      Find the answers for the most frequently asked questions below
    </p>
  
    <div class="row mb-5">
      <div class="col-md-6 col-lg-4 mb-5">
        <h5 class="mb-3 text-primary">
          <i class="far fa-paper-plane text-primary"></i>What about Refunds?
        </h5>
        <p>
          <strong><u>Absolutely!</u></strong>If cancellation of the order is one day prior or any specific reason,
           we do offer Date Postpone feature or issue the refund in 2-3 business days.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-5">
        <h5 class="mb-3 text-primary">
          <i class="fas fa-pen-alt text-primary"></i>What is the mode of payment?
        </h5>
        <p>
          <strong><u>Yes,</u></strong> We have Razorpay For Domestic & International Payments, 
          Paytm, Cashfree & Payubiz Also we do Accept International Cards.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-5">
        <h5 class="mb-3 text-primary"><i class="fas fa-user text-primary"></i> 
          Can I track my order?
        </h5>
        <p>
          Apologies we don't have that feature of tracking order on live net.
           But we do notify our guests with Dispatch and Order Delivered Notification On Mail.
        </p>
      </div>
  
      
      
    </div>
  </section>
  <!--Section: FAQ-->